@import "../../scss/_colors";
@import "../../scss/helpers";

.home-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden auto;
    width: 100%;

    header {
        background: #ffffff;
        border: 1px solid #e7e9ed;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0.5em 0 1em 0;
        text-align: center;

        h1 {
            margin-top: 0;
        }

        mark {
            background: transparent;
            color: $color-primary;
        }
    }

    main {
        flex-grow: 1;
        overflow: hidden auto;
        padding: 1.5em 0;
    }
}