<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clock Server</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <style>
    .qr-container {
      margin-top: 3rem;
    }

    .qr {
      margin-bottom: 2rem;
    }
  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Home ❤️</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Clock Server</h1>
        <h6><small>0.0.1</small></h6>
        <div class="qr-container h-100">
          <div class="row h-200 justify-content-center align-items-center">
            <div class="col">
              <div class="qr"><img class="img-responsive img-thumbnail" src="static/assets/images/clock_qr.png" alt="Clock QR"></div>
              <div><span class="text-danger">{{.username}}, scan above QR to clock in/out</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery-3.4.1-dist/jquery.min.js"></script>
  <script src="static/vendor/bootstrap-4.0.0-dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
